# [bed_mesh]
# speed: 150
# mesh_min: 5,5
# mesh_max: 295,295
# probe_count: 7,7
# fade_start: 3.0
# fade_end: 10.0
# horizontal_move_z: 8
# algorithm: bicubic
# bicubic_tension: 0.1

# [prtouch_v2]
# pr_version: 2
# step_base: 2
# z_offset: 0       
# noz_ex_com: 0.09 # 喷头加热补偿值 Компенсация нагрева стола
# tilt_corr_dis: 0.05 # 热床差补偿值 Величина компенсации разницы в нагревательном слое 
# tri_min_hold: 6000,10000 # 2000,10000
# tri_max_hold: 13000,60000
# pres_cnt: 4
# pres0_clk_pins: leveling_mcu:PA7
# pres0_sdo_pins: leveling_mcu:PA4
# pres1_clk_pins: leveling_mcu:PA6
# pres1_sdo_pins: leveling_mcu:PA3
# pres2_clk_pins: leveling_mcu:PA2
# pres2_sdo_pins: leveling_mcu:PA0
# pres3_clk_pins: leveling_mcu:PA5
# pres3_sdo_pins: leveling_mcu:PA1
# show_msg: False
# step_swap_pin: PC10
# pres_swap_pin: leveling_mcu:PB1
# g28_wait_cool_down: true
# pa_clr_down_mm: -0.15
# clr_noz_start_x: 130
# clr_noz_start_y: 303
# clr_noz_len_x: 40
# clr_noz_len_y: 2
# speeds: 2.5,1.0
# tri_hftr_cut: 2,1
# tri_lftr_k1: 0.50,0.15

#tri_wave_ip:172.22.40.244

#进入调平状态用到的参数
# tri_min_hold_1:6000,10000
# tri_min_hold_2:6000,10000
# tri_min_hold_3:6000,10000
# tri_min_hold_4:6000,10000
# tri_min_hold_5:6000,10000
# tri_min_hold_6:6000,10000

# tri_min_hold_7:6000,10000
# tri_min_hold_8:6000,10000
# tri_min_hold_9:6000,10000
# tri_min_hold_10:6000,10000
# tri_min_hold_11:6000,10000
# tri_min_hold_12:6000,10000

# tri_min_hold_13:6000,10000
# tri_min_hold_14:6000,10000
# tri_min_hold_15:6000,10000
# tri_min_hold_16:6000,10000
# tri_min_hold_17:6000,10000
# tri_min_hold_18:6000,10000

# tri_min_hold_19:6000,10000
# tri_min_hold_20:6000,10000
# tri_min_hold_21:6000,10000
# tri_min_hold_22:6000,10000
# tri_min_hold_23:6000,10000
# tri_min_hold_24:6000,10000

# tri_min_hold_25:6000,10000
# tri_min_hold_26:6000,10000
# tri_min_hold_27:6000,10000
# tri_min_hold_28:6000,10000
# tri_min_hold_29:6000,10000
# tri_min_hold_30:6000,10000

# tri_min_hold_31:6000,10000
# tri_min_hold_32:6000,10000
# tri_min_hold_33:6000,10000
# tri_min_hold_34:6000,10000
# tri_min_hold_35:6000,10000
# tri_min_hold_36:6000,10000

# tri_max_hold_1:13000,60000
# tri_max_hold_2:13000,60000
# tri_max_hold_3:13000,60000
# tri_max_hold_4:13000,60000
# tri_max_hold_5:13000,60000
# tri_max_hold_6:13000,60000
# tri_max_hold_7:13000,60000
# tri_max_hold_8:13000,60000
# tri_max_hold_9:13000,60000
# tri_max_hold_10:13000,60000
# tri_max_hold_11:13000,60000
# tri_max_hold_12:13000,60000
# tri_max_hold_13:13000,60000
# tri_max_hold_14:13000,60000
# tri_max_hold_15:13000,60000
# tri_max_hold_16:13000,60000
# tri_max_hold_17:13000,60000
# tri_max_hold_18:13000,60000
# tri_max_hold_19:13000,60000
# tri_max_hold_20:13000,60000
# tri_max_hold_21:13000,60000
# tri_max_hold_22:13000,60000
# tri_max_hold_23:13000,60000
# tri_max_hold_24:13000,60000
# tri_max_hold_25:13000,60000
# tri_max_hold_26:13000,60000
# tri_max_hold_27:13000,60000
# tri_max_hold_28:13000,60000
# tri_max_hold_29:13000,60000
# tri_max_hold_30:13000,60000
# tri_max_hold_31:13000,60000
# tri_max_hold_32:13000,60000
# tri_max_hold_33:13000,60000
# tri_max_hold_34:13000,60000
# tri_max_hold_35:13000,60000
# tri_max_hold_36:13000,60000

# [gcode_macro ACCURATE_G28]
# gcode:
#   ACCURATE_HOME_Z

# prtouch homing
# [homing_override]
# axes: xyz
# # set_position_x: 0
# # set_position_y: 0
# # set_position_z:0
# gcode:
#   M220 S100
#   # SET_TMC_FIELD FIELD=SGTHRS STEPPER=stepper_x VALUE=110
#   # SET_TMC_FIELD FIELD=SGTHRS STEPPER=stepper_y VALUE=110
#   # SET_TMC_FIELD FIELD=TCOOLTHRS STEPPER=stepper_x VALUE=1048575 # отключение CoolStep
#   # SET_TMC_FIELD FIELD=TCOOLTHRS STEPPER=stepper_y VALUE=1048575
#   BED_MESH_CLEAR
#   {% set x_axes = printer.toolhead.homed_axes %}
#   {% if x_axes is defined and x_axes[0] is defined %}
#     {action_respond_info(
#         "x_axes: %s \n"
#         % (x_axes))}
#   {% else %}
#     SET_GCODE_VARIABLE MACRO=xyz_ready VARIABLE=x_ready VALUE=0
#     SET_GCODE_VARIABLE MACRO=xyz_ready VARIABLE=y_ready VALUE=0
#     SET_GCODE_VARIABLE MACRO=xyz_ready VARIABLE=z_ready VALUE=0
#     SET_GCODE_VARIABLE MACRO=xyz_ready VARIABLE=xy_moved VALUE=0
#     SET_GCODE_VARIABLE MACRO=xyz_ready VARIABLE=z_moved VALUE=0
#     {action_respond_info(
#         "x_axes is NULL\n")}
#   {% endif %}

#   {% if x_axes is defined and x_axes[0] is defined and x_axes[1] is defined %}
#     {action_respond_info("x_axes: %s \n"% (x_axes))}
#     {% set position_y = printer.toolhead.position.y|int %}
#     {% set max_y_position = printer["gcode_macro PRINTER_PARAM"].max_y_position|int %}
#     {% if position_y >= max_y_position %}
#       G91
#       G0 Y-10 F3600
#       G90
#     {% endif %}
#   {% endif %}

#   {% set home_all = 'X' not in params and 'Y' not in params %}
#   {% if 'Z' in params and 'X' not in params and 'Y' not in params %}
#     {% if x_axes[0] is defined and x_axes[1] is defined %}
#       {% set home_all = 0 %}
#     {% endif %}
#   {% endif %}

#   {% if home_all or 'X' in params %}
#     _HOME_X
#   {% endif %}

#   {% if home_all or 'Y' in params %}
#     _HOME_Y
#   {% endif %}

#   {% if home_all or 'X' in params %}
#     _HOME_X
#   {% endif %}

#   {% if home_all or 'Y' in params %}
#     _HOME_Y
#   {% endif %}

#   {% if home_all or 'Z' in params %}
#     _HOME_Z
#     BED_MESH_PROFILE LOAD="default"
#   {% endif %}
#   # SET_TMC_FIELD STEPPER=stepper_x FIELD=en_spreadcycle VALUE=1
#   # SET_TMC_FIELD STEPPER=stepper_y FIELD=en_spreadcycle VALUE=1
#   # SET_TMC_FIELD FIELD=SGTHRS STEPPER=stepper_x VALUE=0
#   # SET_TMC_FIELD FIELD=SGTHRS STEPPER=stepper_y VALUE=0
#   G4 P500

# [gcode_macro xyz_ready]
# variable_x_ready: 0
# variable_y_ready: 0
# variable_z_ready: 0
# variable_xy_moved: 0
# variable_z_moved: 0
# variable_safe_z: 3
# gcode:

# [gcode_macro _IF_HOME_Z]
# gcode:
#   {% if printer['gcode_macro xyz_ready'].z_ready|int == 1 %}
#     {% if printer.toolhead.position.z|int < 5 %}
#       {% set z_park = 5.0 - printer.toolhead.position.z|int %}
#       G91
#       G1 z{z_park} F600
#       G90
#     {% endif %}
#   {% else %}
#     {% if printer['gcode_macro xyz_ready'].z_moved|int == 0 %}
#       {% if printer.print_stats.z_pos|float <= 20.0 or printer.print_stats.power_loss == 1 %}
#         FORCE_MOVE STEPPER=stepper_z DISTANCE={printer["gcode_macro PRINTER_PARAM"].z_safe_g28} VELOCITY=10
#       {% else %}
#         FORCE_MOVE STEPPER=stepper_z DISTANCE=0.1 VELOCITY=10
#       {% endif %}
#       SET_GCODE_VARIABLE MACRO=xyz_ready VARIABLE=z_moved VALUE=1
#     {% endif %}
#   {% endif %}

# [gcode_macro _IF_MOVE_XY]
# gcode:
#   _IF_HOME_Z
#   {% if printer['gcode_macro xyz_ready'].xy_moved|int == 0 %}
#     {action_respond_info("move xy\n")}
#     # FORCE_MOVE STEPPER=stepper_x DISTANCE=14 VELOCITY=50
#     FORCE_MOVE STEPPER=stepper_y DISTANCE=-14 VELOCITY=50
#     FORCE_MOVE STEPPER=stepper_y DISTANCE=7 VELOCITY=50
#     SET_GCODE_VARIABLE MACRO=xyz_ready VARIABLE=xy_moved VALUE=1
#     G4 P1000
#   {% endif %}

# [gcode_macro _HOME_X]
# gcode:
#   _IF_MOVE_XY

#   {% if printer['gcode_macro xyz_ready'].x_ready|int == 1 %}
#     {% if (printer.configfile.settings['stepper_x'].position_max - printer.toolhead.position.x)|round < 10 %}
#       {% set x_park = (10 - (printer.configfile.settings['stepper_x'].position_max - printer.toolhead.position.x))|round %}
#       {% if x_park > 0 %}
#         G91
#         G1 x-{x_park} F3600
#         G90
#         G4 P1000
#       {% endif %}
#     {% endif %}
#   {% endif %}

#   # SET_TMC_FIELD FIELD=SGTHRS STEPPER=stepper_y VALUE=110
#   # SET_TMC_FIELD FIELD=SGTHRS STEPPER=stepper_x VALUE=110
#   # Home
#   G28 X
#   SET_GCODE_VARIABLE MACRO=xyz_ready VARIABLE=x_ready VALUE=1
#   # Move away
#   G91
#   G1 x-10 F3600
#   G90
#   # Wait just a second (give StallGuard registers time to clear)
#   G4 P2000

# [gcode_macro _HOME_Y]
# gcode:
#   _IF_MOVE_XY

#   {% if printer['gcode_macro xyz_ready'].y_ready|int == 1 %}
#     {% if printer.toolhead.position.y|round < 8 %}
#       {% set y_park = 8 - printer.toolhead.position.y|round %}
#       {% if y_park > 0 %}
#         G91
#         G1 y{y_park} F3600
#         G90
#         G4 P1000
#       {% endif %}
#     {% endif %}
#   {% endif %}

#   # SET_TMC_FIELD FIELD=SGTHRS STEPPER=stepper_y VALUE=110
#   # SET_TMC_FIELD FIELD=SGTHRS STEPPER=stepper_x VALUE=110
#   # Home
#   G28 Y
#   SET_GCODE_VARIABLE MACRO=xyz_ready VARIABLE=y_ready VALUE=1
#   # Move away
#   G91
#   G1 y10 F3600
#   G90
#   # Wait just a second (give StallGuard registers time to clear)
#   G4 P2000

# [gcode_macro _HOME_Z]
# gcode:
#   {% if printer['gcode_macro xyz_ready'].y_ready|int == 1 %}
#     {% if printer['gcode_macro xyz_ready'].x_ready|int == 1 %}
#       _IF_HOME_Z
#     {% endif %}
#   {% endif %}
#   {% if printer.print_stats.z_pos|float >= 260.0 %}
#     FORCE_MOVE STEPPER=stepper_z DISTANCE=-8 VELOCITY=10
#   {% endif %}

#   {% set POSITION_X = printer.configfile.settings['stepper_x'].position_max/2 %}
#   {% set POSITION_Y = printer.configfile.settings['stepper_y'].position_max/2 %}
#   # BED_MESH_SET_DISABLE
#   G91
#   {% set x_park = POSITION_X - printer.toolhead.position.x|int %}
#   {% set y_park = POSITION_Y - printer.toolhead.position.y|int %}
#   {action_respond_info("x_park = %s \n" % (x_park))}
#   {action_respond_info("y_park = %s \n" % (y_park))}
#   G1 x{x_park} y{y_park} F3600
#   G90
#   # G4 P500

#   G28 Z
#   SET_GCODE_VARIABLE MACRO=xyz_ready VARIABLE=z_ready VALUE=1
#   # BED_MESH_SET_ENABLE